<div class="logo mb-3">
  <div class="col-md-12 text-center">
    <h1>{{ 'auth.forgotPassword' | translate }}</h1>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <input
      id="email"
      type="email"
      autocomplete="email"
      [formControl]="f.email"
      class="form-control"
      [ngClass]="{
        'is-invalid':
          ((status == XStatus.Clicked || f.email.touched) && f.email.invalid) ||
          (status == XStatus.Failed && errors[0])
      }"
      placeholder="{{ 'auth.email' | translate }}"
    />
    <small
      *ngIf="(f.email.touched || status == XStatus.Clicked) && f.email.invalid"
      class="text-danger"
    >
      {{ f.email.errors.error }}
    </small>
    <small *ngIf="status === XStatus.Failed" class="text-danger mt-3">
      <center>{{ errors[0] }}</center>
    </small>
  </div>
  <br />
  <div class="d-grid gap-2 mb-3">
    <button [disabled]="status === XStatus.Sent" class="btn btn-success">
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      {{ 'auth.forgotPassword' | translate }}
    </button>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <small>
        <p class="text-center">
          {{ 'auth.rememberedPassword' | translate }}
          <a class="link-success" routerLink="/auth/login">
            {{ 'keywords.login' | translate }}
          </a>
        </p>
      </small>
    </div>
  </div>
</form>
