<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"> </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./public"
      >
        <fa-icon [icon]="['fas', 'spider']"></fa-icon> Public
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./private"
      >
        <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon> Private
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./create"
      >
        <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon> Create
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
