<div *ngIf="problem">
  <div class="d-flex justify-content-center">
    <h2>{{ problem.name }}</h2>
    <a (click)="reSpideProblem()">
      <fa-icon [icon]="['fas', 'spider']"></fa-icon>
    </a>
  </div>
  <div class="d-flex justify-content-center">
    <h6>
      <var>{{ 'problems.source' | translate }} : {{ problem.source }}</var>
    </h6>
  </div>
  <div class="d-flex justify-content-center">
    <h6>
      <var
        >{{ 'problems.timeLimit' | translate }}:
        {{ problem.time_limit }} MS</var
      >
    </h6>
  </div>
  <div class="d-flex justify-content-center">
    <h6>
      <var
        >{{ 'problems.memoryLimit' | translate }} :
        {{ problem.memory_limit }} MB</var
      >
    </h6>
  </div>
  <h3>
    {{ 'problems.description' | translate }}
  </h3>
  <markdown [data]="problem.description" katex></markdown>

  <h3>
    {{ 'problems.input' | translate }}
  </h3>
  <markdown [data]="problem.input" katex></markdown>
  <h3>
    {{ 'problems.output' | translate }}
  </h3>
  <markdown [data]="problem.output" katex></markdown>
  <h3>
    {{ 'problems.samples' | translate }}
  </h3>
  <div *ngFor="let sample of problem.samples; let i = index">
    <div class="card-group">
      <div class="card shadow-sm border-secondary">
        <div class="card-header bg-transparent border-secondary">
          {{ 'problems.sampleInput' | translate }}
          {{ i + 1 }}
        </div>
        <div class="card-body">
          <markdown [data]="sample.sample_input" katex></markdown>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="card shadow-sm border-secondary">
        <div class="card-header bg-transparent border-secondary">
          {{ 'problems.sampleOutput' | translate }}
          {{ i + 1 }}
        </div>
        <div class="card-body">
          <markdown [data]="sample.sample_output" katex></markdown>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div *ngIf="sample.sample_hint">
      <markdown [data]="sample.sample_hint" katex></markdown>
    </div>
    <hr />
  </div>

  <div *ngIf="problem.hint">
    <h3>
      {{ 'problems.hint' | translate }}
    </h3>
    <markdown [data]="problem.hint" katex></markdown>
  </div>
  <br />
  <br />
</div>

<div *ngIf="!problem">Loading.....</div>
