<br/> <br/> <br/> <br/> <br/> <br/>
<div class="container">
	<div class="col-md-5 mx-auto">
    <div class="myform form">
      <div class="logo mb-3">
        <div class="col-md-12 text-center">
          <h1>{{password_reset_k}}</h1>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <input type="email" [formControl]="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && email.errors }"
              [placeholder]="email_k" />
          <div *ngIf="(email.touched || submitted) && email.errors" class="text-danger">
            <small>
              <div *ngIf="email.hasError('required')">
                {{email_required}}
              </div>
            </small>
          </div>
        </div>
				<div class="form-group mb-3">
					<input type="password" class="form-control" [formControl]="password"
							[ngClass]="{ 'is-invalid': submitted && password.errors }"
							[placeholder]="password_k" autocomplete="false"/>
					<div *ngIf="(password.touched || submitted) && password.errors" class="text-danger">
						<small>
							<div *ngIf="password.hasError('required')">
                {{password_required}}
							</div>
							<div *ngIf="password.hasError('minlength')">
                {{password_too_short}}
							</div>
							<div *ngIf="password.hasError('maxlength')">
                {{password_too_long}}
							</div>
						</small>
					</div>
          <div *ngIf="submitted" class="text-danger">
            <small>
              <div *ngIf="password_error">
                {{password_error}}
              </div>
            </small>
          </div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" [formControl]="password_confirm"
							[ngClass]="{ 'is-invalid': submitted && password_confirm.errors }"
					   pattern="{{password.value}}" [placeholder]=" password_confirm_k" autocomplete="false"/>
					<div *ngIf="(password_confirm.touched || submitted) && password_confirm.errors" class="text-danger">
						<small>
							<div *ngIf="password_confirm.hasError('required')">
                {{password_confirm_required}}
							</div>
							<div *ngIf="!password_confirm.hasError('required') &&
										password_confirm.errors.pattern">
                {{password_missmatch}}
							</div>
						</small>
					</div>
          <div *ngIf="submitted" class="text-danger">
            <small>
              <div *ngIf="password_confirm_error">
                {{password_confirm_error}}
              </div>
            </small>
          </div>
				</div>
        <br/>
        <div class="d-grid gap-2 mb-3">
          <button [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{password_reset_k}}
          </button>
        </div>
        <div class="col-md-12 ">
          <div class="form-group">
            <small>
            </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
