<div class="card shadow-sm">
  <div class="card-body">
    <div class="row">
      <th class="col-1">#</th>
      <th class="col">TITLE</th>
      <th class="col">STATUS</th>
      <th class="col">Pass Rate</th>
      <th class="col"></th>
    </div>
    <hr class="title" />
    <div *ngIf="!loading">
      <div
        class="table-content"
        *ngFor="
          let problem of problems
            | paginate : { itemsPerPage: 20, currentPage: p, totalItems: total }
        "
      >
        <div class="row">
          <div class="col-1">{{ problem.id }}</div>
          <div class="col">
            <a
              class="link link-content"
              (click)="viewProblem(problem.source, problem.id)"
            >
              {{ problem.name }}
            </a>
          </div>
          <div class="col">AC</div>
          <div class="col">22/45</div>
          <div class="col">
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteProblem(problem.id)"
            >
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </div>
        </div>
        <hr class="content" />
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <app-problems-show
    [which]="'problemSets'"
    (addToEvent)="addProblem($event)"
  ></app-problems-show>
</div>
