<div class="card shadow-sm">
	<div class="card-body">

		<div class="row">
			<th class="col-1"> # </th>
			<th class="col"> TITLE </th>
			<th class="col"> STATUS </th>
			<th class="col"> Pass Rate </th>
			<th class="col">  </th>
		</div>
		<hr class="title"/>
		<div *ngIf="!loading">
			<div class="table-content" *ngFor="let problem of problems | paginate:
						{itemsPerPage:20, currentPage:p, totalItems:total}">
				<div class="row">
					<div class="col-1">{{problem.id}}</div>
					<div class="col">
						<a class="link link-content" (click)="viewProblem(problem.source, problem.id)">
							{{problem.name}}
						</a>
					</div>
					<div class="col">AC</div>
					<div class="col">22/45</div>
					<div class="col">
						<button type="button" class="btn btn-outline-danger"
								(click)="deleteProblem(problem.id)">
							<i class="far fa-trash-alt"></i>
						</button>
					</div>
				</div>
				<hr class="content"/>
			</div>
		</div>
	</div>
</div>
<br/> <br/>

<div class="card shadow-sm">
	<div class="card-body">
		<app-problem-search
			(problemsEvent)="setAllProblems($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-problem-search>
		<br/>
		<div *ngIf="loading" class="row">
			Loading...
		</div>
		<div class="row">
			<th class="col-1"> # </th>
			<th class="col"> TITLE </th>
			<th class="col"> SOURCE </th>
			<th class="col"> STATUS </th>
			<th class="col">  </th>
		</div>
		<hr class="title"/>
		<div *ngIf="!loading">
			<div class="table-content" *ngFor="let problem of allProblems | paginate:
						{itemsPerPage:20, currentPage:p, totalItems:total}">
				<div class="row">
					<div class="col-1">{{problem.id}}</div>
					<div class="col">
						<a class="link link-content" (click)="viewProblem(problem.source, problem.id)">
							{{problem.name}}
						</a>
					</div>
					<div class="col">
						<a class="link link-content" (click)="viewProblem(problem.source, problem.id)">
							{{problem.vid}}
						</a>
					</div>
					<div class="col">22/45</div>
					<div class="col">
						<button type="button" class="btn btn-outline-dark"
								(click)="addProblem(problem.id)"
							    [disabled]="isAdded(problem.id)">
								<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
				<hr class="content"/>
			</div>
		</div>
	</div>
</div>
<br/>
<div class="row justify-content-center">
	<pagination-controls class="paginator"
		(pageChange)="getPage($event)"
		auotHide="true"
		previousLabel=""
		nextLabel="" >
	</pagination-controls>
</div>
