<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./description"
      >
        <fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Problem
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./submit"
      >
        <fa-icon [icon]="['fas', 'upload']"></fa-icon> Submit
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./my-submissions"
      >
        <fa-icon [icon]="['fas', 'list']"></fa-icon> My Submissions
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./submissions"
      >
        <fa-icon [icon]="['fas', 'list-ul']"></fa-icon> Submissions
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./discussion"
      >
        <fa-icon [icon]="['fas', 'comments']"></fa-icon> Discussion
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./solutions"
      >
        <fa-icon [icon]="['fas', 'book-reader']"></fa-icon> Solutions
      </a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
