<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngIf="!isCreate" class="card-body media align-items-center">
    <div class="d-grid gap-2 d-flex justify-content-center mt-4">
      <img
        [src]="photoPath"
        class="d-block ui-w-80"
        style="max-width: 100px; max-height: 100px"
      />
    </div>
    <div class="media-body mt-2">
      <div class="d-grid gap-2 d-flex justify-content-center">
        <label class="btn btn-outline-primary">
          <i class="fas fa-folder-open"></i>
          {{ 'keywords.browse' | translate }}
          <input
            type="file"
            hidden
            ng2FileSelect
            [uploader]="photo"
            (change)="imagePreview($event)"
          />
        </label>
        <div *ngIf="photo.queue[0] as item">
          <button
            type="button"
            class="btn btn-outline-success btn-xs"
            (click)="item.upload()"
            [disabled]="item.isReady || item.isUploading || item.isSuccess"
          >
            <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4">
      <label class="form-label" for="name"
        ><h5>
          {{ 'groups.name' | translate }}
        </h5></label
      >
      <input
        type="text"
        id="name"
        [formControl]="f.name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (status === XStatus.Clicked || f.name.touched) && f.name.invalid
        }"
      />
      <small
        *ngIf="f.name.invalid && (f.name.touched || status === XStatus.Clicked)"
        class="text-danger"
      >
        {{ f.name.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h5>
        {{ 'groups.description' | translate }}
      </h5>
      <textarea
        id="description"
        style="overflow-y: auto; height: 30vh"
        [formControl]="f.description"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (status === XStatus.Clicked || f.description.touched) &&
            f.description.invalid
        }"
      ></textarea>
      <small
        *ngIf="
          f.description.invalid &&
          (f.description.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.description.errors.error }}
      </small>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <button
      [disabled]="status === XStatus.Sent"
      class="btn btn-success col-sm-4"
    >
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      <fa-icon [icon]="['fas', 'upload']"></fa-icon>
      {{ 'keywords.submit' | translate }}
    </button>
  </div>
</form>
