<div class="row">
  <div class="col-md-12">
    <div id="content" class="content content-full-width">
      <div class="profile">
        <div class="profile-header">
          <div class="profile-header-cover"></div>
          <div class="profile-header-content">
            <div *ngIf="photo" class="profile-header-img">
              <img [src]="photo" alt="" />
            </div>
            <div class="profile-header-info">
              <h4 class="m-t-10 m-b-5">Sean Ngu</h4>
              <p class="m-b-10">Happy coder</p>
              <button class="btn btn-primary">Follow</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-5 bg-white rounded shadow">
  <nav>
    <ul
      ngbNav
      #navTabs="ngbNav"
      class="nav nav-tabs nav-pills lined flex-column flex-sm-row text-center"
    >
      <li [ngbNavItem]="1" class="nav-item flex-sm-fill">
        <a ngbNavLink>Home</a>
        <ng-template ngbNavContent><app-user-home></app-user-home></ng-template>
      </li>
      <li [ngbNavItem]="2" class="nav-item flex-sm-fill">
        <a ngbNavLink (click)="getContests()">Contests</a>
        <ng-template ngbNavContent
          ><app-user-contests></app-user-contests
        ></ng-template>
      </li>
      <li [ngbNavItem]="3" class="nav-item flex-sm-fill">
        <a ngbNavLink (click)="getProblems()">Problems</a>
        <ng-template ngbNavContent
          ><app-user-problems></app-user-problems
        ></ng-template>
      </li>
      <li [ngbNavItem]="4" class="nav-item flex-sm-fill">
        <a ngbNavLink (click)="getGroups()">Groups</a>
        <ng-template ngbNavContent
          ><app-user-groups></app-user-groups
        ></ng-template>
      </li>
      <li [ngbNavItem]="5" class="nav-item flex-sm-fill">
        <a ngbNavLink (click)="getFriends()">Friends</a>
        <ng-template ngbNavContent
          ><app-user-friends></app-user-friends
        ></ng-template>
      </li>
      <li [ngbNavItem]="6" class="nav-item flex-sm-fill">
        <a ngbNavLink>Settings</a>
        <ng-template ngbNavContent
          ><app-user-settings></app-user-settings
        ></ng-template>
      </li>
    </ul>
  </nav>
  <div [ngbNavOutlet]="navTabs" class="mt-2"></div>
</div>
