<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mt-4">
    <div class="col-md-4">
      <label class="form-label"><h5>Title</h5></label>
      <input
        type="text"
        [formControl]="f.name"
        class="form-control"
        [ngClass]="{
          'is-invalid': f.name.touched && f.name.errors
        }"
      />
      <small *ngIf="f.name.errors && f.name.touched" class="text-danger">
        <div *ngIf="f.name.errors.required">Title is required.</div>
        <div *ngIf="f.name.errors.tooLong">Title is too long.</div>
        {{ f.name.errors }}
      </small>
    </div>
    <div class="col-md-4">
      <label class="form-label"><h5>Time Limit(MS)</h5></label>
      <input type="text" [formControl]="f.time_limit" class="form-control" />
      <small
        *ngIf="f.time_limit.errors && f.time_limit.touched"
        class="text-danger"
      >
        <div *ngIf="f.time_limit.errors.required">Time Limit is required.</div>
        <div *ngIf="f.time_limit.errors.invalid">
          Time Limit should be integer value.
        </div>
        <div *ngIf="f.time_limit.errors.tooLarge">Time Limit is too large.</div>
      </small>
    </div>
    <div class="col-md-4">
      <label class="form-label"><h5>Memory Limit(MB)</h5> </label>
      <input type="text" [formControl]="f.memory_limit" class="form-control" />
      <small
        *ngIf="f.memory_limit.invalid && f.memory_limit.touched"
        class="text-danger"
      >
        <!-- <div *ngIf="f.memory_limit.errors.required">
          Memory Limit is required.
        </div>
        <div *ngIf="f.memory_limit.errors.invalid">
          Memory Limit should be integer value.
        </div>
        <div *ngIf="f.memory_limit.errors.tooLarge">
          Memory Limit is too large
        </div> -->
        {{ f.memory_limit.errors.error }}
      </small>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Description</h3>
      <markdown [data]="f.description.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 30vh"
        class="form-control"
        [formControl]="f.description"
      >
      </textarea>
      <small
        *ngIf="f.description.errors && f.description.touched"
        class="text-danger"
      >
        <div *ngIf="f.description.errors.required">
          Description is required.
        </div>
        <div *ngIf="f.description.errors.tooLong">
          Description should be at most 5 characters.
        </div>
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Input</h3>
      <markdown [data]="f.input.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 15vh"
        class="form-control"
        [formControl]="f.input"
      >
      </textarea>
      <small *ngIf="f.input.errors && f.input.touched" class="text-danger">
        <div *ngIf="f.input.errors.required">Input is required.</div>
        <div *ngIf="f.input.errors.tooLong">
          Input should be at most 5 characters.
        </div>
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Output</h3>
      <markdown [data]="f.output.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 15vh"
        class="form-control"
        [formControl]="f.output"
      >
      </textarea>
      <small *ngIf="f.output.errors && f.output.touched" class="text-danger">
        <div *ngIf="f.output.errors.required">Output is required.</div>
        <div *ngIf="f.output.errors.tooLong">
          Output should be at most 5 characters.
        </div>
      </small>
    </div>
  </div>
  <h3 class="d-grid d-flex justify-content-between mt-4">
    Samples
    <button type="button" class="btn btn-outline-success" (click)="addSample()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </h3>

  <div
    formArrayName="samples"
    *ngFor="let sample of sampleControls; let i = index"
  >
    <div [formGroupName]="i">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card-group d-grid gap-2 d-flex justify-content-between mt-1 mb-4"
          >
            <div class="col me-4">
              <div class="card shadow-sm border-secondary">
                <div class="card-header bg-transparent border-secondary">
                  <div class="d-grid d-flex justify-content-between">
                    <div>Input {{ i + 1 }}</div>
                    <a (click)="removeSample(i, sample)">
                      <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <textarea
                    style="overflow-y: auto; height: 15vh; border: 0"
                    class="form-control"
                    formControlName="sample_input"
                  >
                  </textarea>
                  <small
                    *ngIf="
                      sample.controls['sample_input'].errors &&
                      sample.controls['sample_input'].touched
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="sample.controls['sample_input'].errors.required"
                    >
                      Input sample is required.
                    </div>
                    <div *ngIf="sample.controls['sample_input'].errors.tooLong">
                      Input should be at most 5 characters
                    </div>
                  </small>
                </div>
              </div>
            </div>
            <div class="col ms-4">
              <div class="card shadow-sm border-secondary">
                <div class="card-header bg-transparent border-secondary">
                  <div class="d-grid d-flex justify-content-between">
                    <div>Output {{ i + 1 }}</div>
                    <a (click)="removeSample(i, sample)">
                      <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <textarea
                    style="overflow-y: auto; height: 15vh; border: 0"
                    class="form-control"
                    formControlName="sample_output"
                  >
                  </textarea>
                  <small
                    *ngIf="
                      sample.controls['sample_output'].errors &&
                      sample.controls['sample_output'].touched
                    "
                    class="text-danger"
                  >
                    <div
                      *ngIf="sample.controls['sample_output'].errors.required"
                    >
                      Output sample is required.
                    </div>
                    <div
                      *ngIf="sample.controls['sample_output'].errors.tooLong"
                    >
                      Output should be at most 5 characters
                    </div>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>Hint</h3>
      <markdown [data]="f.hint.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 13vh"
        class="form-control"
        [formControl]="f.hint"
      >
      </textarea>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <span class="form-label"><h5>Tags</h5></span>
      <div class="d-grid d-flex gap-1">
        <button
          type="button"
          *ngFor="let tag of all_tags"
          class="btn btn-outline-dark"
          #btn
          (click)="selectTag($event.target, tag)"
        >
          {{ tag }}
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <span class="form-label"><h5>Rule</h5></span>
      <label class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="rule_type"
          value="acm"
          checked
          (click)="selectRule($event.target.value)"
        />
        <span class="form-check-label">ACM</span>
      </label>
      <label class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="rule_type"
          value="oi"
          (click)="selectRule($event.target.value)"
        />
        <span class="form-check-label">OI</span>
      </label>
    </div>
    <div class="col-md-2">
      <span class="form-label"><h5>Visible</h5></span>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="visible"
          (click)="selectVisible($event.target.checked)"
        />
        <label class="form-check-lable" for="visible">NO / YES</label>
      </div>
    </div>
    <div class="col-md-7">
      <span class="form-label"><h5>Allowed Languages</h5></span>
      <div
        *ngIf="allowed_languages.length == 0"
        class="alert alert-danger"
        role="alert"
      >
        Please select at least one language.
      </div>
      <div *ngFor="let lan of languages" class="form-check form-check-inline">
        <input
          type="checkbox"
          class="form-check-input"
          id="{{ lan }}"
          checked="checked"
          (click)="selectLan($event.target.checked, lan)"
        />
        <label class="form-check-lable" for="{{ lan }}">{{ lan }}</label>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <app-problems-upload (uploadEvent)="setToken($event)"></app-problems-upload>
  </div>

  <div class="row justify-content-center mt-5 mb-4">
    <button type="button" class="btn btn-success col-sm-4">
      <fa-icon [icon]="['fas', 'upload']"></fa-icon> Submit
    </button>
  </div>
</form>
