<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mt-4">
    <div class="col-md-4">
      <label class="form-label"
        ><h5>
          {{ 'problems.name' | translate }}
        </h5></label
      >
      <input
        type="text"
        [formControl]="f.name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (f.name.touched || status === XStatus.Clicked) && f.name.invalid
        }"
      />
      <small
        *ngIf="f.name.invalid && (f.name.touched || status === XStatus.Clicked)"
        class="text-danger"
      >
        {{ f.name.errors.error }}
      </small>
    </div>
    <div class="col-md-4">
      <label class="form-label"
        ><h5>{{ 'problems.timeLimit' | translate }}(MS)</h5></label
      >
      <input
        type="text"
        [formControl]="f.time_limit"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (f.time_limit.touched || status === XStatus.Clicked) &&
            f.time_limit.invalid
        }"
      />
      <small
        *ngIf="
          f.time_limit.invalid &&
          (f.time_limit.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.time_limit.errors.error }}
      </small>
    </div>
    <div class="col-md-4">
      <label class="form-label"
        ><h5>{{ 'problems.memoryLimit' | translate }}(MB)</h5>
      </label>
      <input
        type="text"
        [formControl]="f.memory_limit"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            (f.memory_limit.touched || status === XStatus.Clicked) &&
            f.memory_limit.invalid
        }"
      />
      <small
        *ngIf="
          f.memory_limit.invalid &&
          (f.memory_limit.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.memory_limit.errors.error }}
      </small>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <h3>{{ 'problems.description' | translate }}</h3>
      <markdown [data]="f.description.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 30vh"
        class="form-control"
        [formControl]="f.description"
        [ngClass]="{
          'is-invalid':
            (f.description.touched || status === XStatus.Clicked) &&
            f.description.invalid
        }"
      >
      </textarea>
      <small
        *ngIf="
          f.description.invalid &&
          (f.description.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.description.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>{{ 'problems.input' | translate }}</h3>
      <markdown [data]="f.input.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 15vh"
        class="form-control"
        [formControl]="f.input"
        [ngClass]="{
          'is-invalid':
            (f.input.touched || status === XStatus.Clicked) && f.input.invalid
        }"
      >
      </textarea>
      <small
        *ngIf="
          f.input.invalid && (f.input.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.input.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>{{ 'problems.output' | translate }}</h3>
      <markdown [data]="f.output.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 15vh"
        class="form-control"
        [formControl]="f.output"
        [ngClass]="{
          'is-invalid':
            (f.output.touched || status === XStatus.Clicked) && f.output.invalid
        }"
      >
      </textarea>
      <small
        *ngIf="
          f.output.invalid && (f.output.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.output.errors.error }}
      </small>
    </div>
  </div>
  <h3 class="d-grid d-flex justify-content-between mt-4">
    {{ 'problems.samples' | translate }}
    <button type="button" class="btn btn-outline-success" (click)="addSample()">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
  </h3>

  <div
    formArrayName="samples"
    *ngFor="let sample of sampleArray.controls; let i = index"
  >
    <div [formGroupName]="i">
      <div class="row">
        <div class="col-md-12">
          <div
            class="card-group d-grid gap-2 d-flex justify-content-between mt-1 mb-4"
          >
            <div class="col me-4">
              <div class="card shadow-sm border-secondary">
                <div class="card-header bg-transparent border-secondary">
                  <div class="d-grid d-flex justify-content-between">
                    <div>{{ 'problems.input' | translate }} {{ i + 1 }}</div>
                    <a (click)="removeSample(i, sample)">
                      <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <textarea
                    style="overflow-y: auto; height: 15vh; border: 0"
                    class="form-control"
                    formControlName="sample_input"
                    [ngClass]="{
                      'is-invalid':
                        sample.controls['sample_input'].invalid &&
                        (sample.controls['sample_input'].touched ||
                          status === XStatus.Clicked)
                    }"
                  >
                  </textarea>
                  <small
                    *ngIf="
                      sample.controls['sample_input'].invalid &&
                      (status === XStatus.Clicked ||
                        sample.controls['sample_input'].touched)
                    "
                    class="text-danger"
                  >
                    {{ sample.controls['sample_input'].errors.error }}
                  </small>
                </div>
              </div>
            </div>
            <div class="col ms-4">
              <div class="card shadow-sm border-secondary">
                <div class="card-header bg-transparent border-secondary">
                  <div class="d-grid d-flex justify-content-between">
                    <div>{{ 'problems.output' | translate }} {{ i + 1 }}</div>
                    <a (click)="removeSample(i, sample)">
                      <fa-icon [icon]="['fas', 'times']"></fa-icon>
                    </a>
                  </div>
                </div>
                <div class="card-body">
                  <textarea
                    style="overflow-y: auto; height: 15vh; border: 0"
                    class="form-control"
                    formControlName="sample_output"
                    [ngClass]="{
                      'is-invalid':
                        sample.controls['sample_output'].invalid &&
                        (sample.controls['sample_output'].touched ||
                          status === XStatus.Clicked)
                    }"
                  >
                  </textarea>
                  <small
                    *ngIf="
                      sample.controls['sample_output'].invalid &&
                      (status === XStatus.Clicked ||
                        sample.controls['sample_output'].touched)
                    "
                    class="text-danger"
                  >
                    {{ sample.controls['sample_output'].errors.error }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h3>{{ 'problems.hint' | translate }}</h3>
      <markdown [data]="f.hint.value" katex></markdown>
      <textarea
        style="overflow-y: auto; height: 13vh"
        class="form-control"
        [formControl]="f.hint"
      >
      </textarea>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <span class="form-label"
        ><h5>{{ 'problems.tags' | translate }}</h5></span
      >
      <div class="d-grid d-flex gap-1">
        <button
          type="button"
          *ngFor="let tag of allTags"
          class="btn btn-outline-dark"
          #btn
          (click)="selectTag($event.target, tag)"
        >
          {{ tag }}
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <span class="form-label"
        ><h5>{{ 'problems.allowedLanguages' | translate }}</h5></span
      >
      <div class="d-grid d-flex gap-1">
        <button
          type="button"
          *ngFor="let language of allLanguages"
          class="btn btn-primary"
          #btn
          (click)="selectLanguage($event.target, language)"
        >
          {{ language }}
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <span for="ruleSelect" class="form-label"
        ><h5>{{ 'problems.rule' | translate }}</h5></span
      >
      <div class="col-6">
        <select class="form-select" id="ruleSelect" [formControl]="f.ruleType">
          <option *ngFor="let ruleType of ruleTypes" [value]="ruleType">
            {{ ruleType }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <span for="visible" class="form-label"
        ><h5>{{ 'problems.isVisible' | translate }}</h5></span
      >
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="visible"
          [formControl]="f.isVisible"
        />
        <label class="form-check-lable" for="visible">NO / YES</label>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <app-problems-upload (uploadEvent)="setToken($event)"></app-problems-upload>
  </div>

  <div class="row justify-content-center mt-5 mb-4">
    <button
      [disabled]="status === XStatus.Sent"
      class="btn btn-success col-sm-4"
    >
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      <fa-icon [icon]="['fas', 'upload']"></fa-icon>
      {{ 'problems.submit' | translate }}
    </button>
  </div>
</form>
