<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
	<div class="row">
		<div class="col-md-4">
			<label class="form-label"><h5>Title</h5></label>
			<div *ngIf="name.hasError('required') && name.touched"
						class="alert alert-danger" role="alert">
				Title is required.
			</div>
			<input type="text" [formControl]="name" class="form-control"/>
		</div>
		<div class="col-md-4">
			<label class="form-label"><h5>Time Limit(MS)</h5></label>
			<div *ngIf="time_limit.hasError('required') && time_limit.touched"
						class="alert alert-danger" role="alert">
				Time Limit is required.
			</div>
			<div *ngIf="!time_limit.hasError('required') && time_limit.hasError('invalidTimeLimit')
					   && time_limit.touched" class="alert alert-danger" role="alert">
				Time Limit should be integer value.
			</div>
			<input type="text" [formControl]="time_limit" class="form-control"/>
		</div>
		<div class="col-md-4">
			<label class="form-label"><h5>Memory Limit(MB)</h5> </label>
			<div *ngIf="memory_limit.hasError('required') && memory_limit.touched"
						class="alert alert-danger" role="alert">
				Memory Limit is required.
			</div>
			<div *ngIf="!memory_limit.hasError('required') && memory_limit.hasError('invalidMemoryLimit')
					   && memory_limit.touched" class="alert alert-danger" role="alert">
				Memory Limit should be integer value.
			</div>
			<input type="text" [formControl]="memory_limit" class="form-control"/>
		</div>
	</div>

	<br/>

	<div class="row">
		<div class="col-md-12">
			<h3>Description</h3>
			<div *ngIf="description.hasError('required') && description.touched"
				 class="alert alert-danger" role="alert">
				Description is required.
			</div>
			<markdown [data]="description.value" katex></markdown>
			<textarea style="overflow-y:auto; height: 30vh" class="form-control"
					  [formControl]="description">
			</textarea>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<h3>Input</h3>
			<div *ngIf="input.hasError('required') && input.touched"
				 class="alert alert-danger" role="alert">
				Input is required.
			</div>
			<markdown [data]="input.value" katex></markdown>
			<textarea style="overflow-y:auto; height: 15vh" class="form-control"
					  [formControl]="input">
			</textarea>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<h3>Output</h3>
			<div *ngIf="output.hasError('required') && output.touched"
				 class="alert alert-danger" role="alert">
				Output is required.
			</div>
			<markdown [data]="output.value" katex></markdown>
			<textarea style="overflow-y:auto; height: 15vh" class="form-control"
					  [formControl]="output">
			</textarea>
		</div>
	</div>
	<br/>
	<h3>
		Samples
		<button type="button" class="btn btn-light" (click)="addSample()">
			<i class="fas fa-plus"></i>
		</button>
	</h3>

	<div  formArrayName="samples" *ngFor="let sample of sampleControls; let i = index;">
		<div [formGroupName]="i">
			<div class="row">
				<div class="col-md-12">
					<div *ngIf="sample.controls['sample_input'].hasError('required') &&
								sample.controls['sample_input'].touched"
								class="alert alert-danger" role="alert">
						Input sample is required.
					</div>
					<div *ngIf="sample.controls['sample_output'].hasError('required') &&
								sample.controls['sample_output'].touched"
								class="alert alert-danger" role="alert">
						Output sample is required.
					</div>
					<div class="card-group">
						<div class="card shadow-sm border-secondary">
							<div class="card-header bg-transparent border-secondary">
								<div class="row justify-content-between">
									<div class="col-11">
										Input {{i + 1}}
									</div>
									<a (click)="removeSample(i, sample)">
										<i class="fas fa-times"></i>
									</a>
									&nbsp;
								</div>
							</div>
							<div class="card-body">
								<textarea style="overflow-y:auto; height:15vh; border:0"
										  class="form-control" formControlName="sample_input">
								</textarea>
							</div>
						</div>
						<div class="col-1"> </div>
						<div class="card shadow-sm border-secondary">
							<div class="card-header bg-transparent border-secondary">
								<div class="row justify-content-between">
									<div class="col-11">
										Output {{i + 1}}
									</div>
									<a (click)="removeSample(i, sample)">
										<i class="fas fa-times"></i>
									</a>
									&nbsp;
								</div>
							</div>
							<div class="card-body">
								<textarea style="overflow-y:auto; height:15vh; border:0"
										  class="form-control" formControlName="sample_output">
								</textarea>
							</div>
						</div>
						<div class="col-1"> </div>
					</div>
					<br/>
				</div>
			</div>
		</div>
		<br/>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<h3>Hint</h3>
			<markdown [data]="hint.value" katex></markdown>
			<textarea style="overflow-y:auto; height: 13vh" class="form-control"
					  [formControl]="hint">
			</textarea>
		</div>
	</div>
	<br/>

	<div class="row">
		<div class="col-md-12">
			<span class="form-label"><h5>Tags </h5></span>
			<button type="button" *ngFor="let tag of all_tags" class="btn btn-outline-dark"
					#btn (click)="selectTag($event.target, tag);">
				{{tag}}
			</button>
		</div>
	</div>
	<br/>

	<div class="row">
		<div class="col-md-3">
			<span class="form-label"><h5>Rule </h5></span>
			<label class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="rule_type" value="acm" checked
						(click)="selectRule($event.target.value)">
				<span class="form-check-label">ACM</span>
			</label>
			<label class="form-check form-check-inline">
				<input class="form-check-input" type="radio" name="rule_type" value="oi"
						(click)="selectRule($event.target.value)">
				<span class="form-check-label">OI</span>
			</label>
		</div>
		<div class="col-md-2">
			<span class="form-label"><h5>Visible </h5></span>
			<div class="custom-control custom-switch">
				<input type="checkbox" class="custom-control-input" id="visible"
				       (click)="selectVisible($event.target.checked)">
				<label class="custom-control-label" for="visible">NO/YES</label>
			</div>
		</div>
		<div class="col-md-7">
			<span class="form-label"><h5>Allowed Languages </h5></span>
				<div *ngIf="allowed_languages.length == 0"
						class="alert alert-danger" role="alert">
					Please select at least one language.
				</div>
				<div *ngFor="let lan of languages"
					class="custom-control custom-control-inline custom-checkbox">
					<input type="checkbox" class="custom-control-input" id="{{lan}}"
						   checked="checked" (click)="selectLan($event.target.checked, lan)">
					<label class="custom-control-label" for="{{lan}}">{{lan}}</label>
				</div>
		</div>
	</div>
	<br/>
	<br/>
	<app-problems-upload (uploadEvent)="setToken($event)"></app-problems-upload>
	<br/>

	<div class="row justify-content-center">
		<button type="button" class="btn btn-info col-sm-4">
			<i class="fas fa-upload"></i> Submit
		</button>
	</div>
	<br/>
</form>


