<br/> <br/> <br/> <br/> <br/> <br/>
<div class="container">
	<div class="col-md-5 mx-auto">
    <div class="myform form">
      <div class="logo mb-3">
        <div class="col-md-12 text-center">
          <h1>{{password_forgot_k}}</h1>
        </div>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group mb-3">
          <input type="email" [formControl]="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && email.errors }"
              [placeholder]="email_k" />
          <div *ngIf="(email.touched || submitted) && email.errors" class="text-danger">
            <small>
              <div *ngIf="email.hasError('required')">
                {{email_required}}
              </div>
            </small>
          </div>
        </div>
        <br/>
        <div class="d-grid gap-2 mb-3">
          <button [disabled]="loading" class="btn btn-success">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{password_forgot_k}}
          </button>
        </div>
        <div class="col-md-12 ">
          <div class="form-group">
            <small>
              <p class="text-center"> {{remembered_password}}
              <a class="link-success" routerLink="/login">{{login_k}}</a>
              </p>
            </small>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
