<div class="card shadow-sm">
  <div class="card-body">
    <app-search (searchEvent)="getGroups($event)"> </app-search>
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ "groups.name" | translate }}</th>
          <th scope="col">{{ "groups.creator" | translate }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="groups && user">
        <tr
          class="align-middle"
          *ngFor="
            let group of groups
              | paginate
                : { itemsPerPage: 20, currentPage: p, totalItems: total }
          "
        >
          <th scope="row">{{ group.id }}</th>
          <td class="col">
            <a class="link link-content" routerLink="/group/{{ group.id }}">
              &nbsp;{{ group.name }}
            </a>
          </td>
          <td class="col">{{ group.creator }}</td>
          <td>
            <div
              *ngIf="getPermission(group.creator) === Permission.MODIFY"
              class="d-grid gap-2 d-flex mt-1 justify-content-end"
            >
              <button
                type="button"
                class="btn btn-outline-info"
                routerLink="../update/{{ group.id }}"
                ngbTooltip="Edit"
              >
                <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
              </button>
              <app-hold-button
                (holdEvent)="deleteGroup(group.id)"
                ngbTooltip="Hold to delete"
              ></app-hold-button>
            </div>
            <div
              *ngIf="getPermission(group.creator) === Permission.LEAVE"
              class="d-grid gap-2 d-flex mt-1 justify-content-end"
            >
              <app-hold-button
                (holdEvent)="leaveGroup(group.id)"
                ngbTooltip="Hold to Leave"
              >
                <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
              </app-hold-button>
            </div>
            <div
              *ngIf="getPermission(group.creator) === Permission.JOIN"
              class="d-grid gap-2 d-flex mt-1 justify-content-end"
            >
              <button
                type="button"
                class="btn btn-outline-info"
                (click)="joinGroup(group.id)"
                ngbTooltip="Join"
              >
                <fa-icon [icon]="['fas', 'arrow-right-to-bracket']"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<div class="row justify-content-center">
  <pagination-controls
    class="paginator"
    (pageChange)="getGroups($event)"
    auotHide="true"
    previousLabel=""
    nextLabel=""
  >
  </pagination-controls>
</div>
