<div class="card shadow-sm">
	<div class="card-body">
		<app-search
			[uri]="uri"
			[addition]="addition"
			(itemsEvent)="setContests($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-search>
		<br/>

		<div class="mb-3 card" *ngFor="let contest of contests | paginate:
				{itemsPerPage:20, currentPage:p, totalItems:total}">
			<div class="row">
				<div class="col-auto logo">
					<div class="calendar">
						<span class="calendar-month-0">
							{{contest.start_time | date: 'MMM'}}
						</span>
						<span class="calendar-day-0">
							{{contest.start_time | date: 'dd'}}
						</span>
					</div>
				</div>
				<div class="col-11">
					<div class="row justify-content-between">
						<div class="col-auto">
							<text class="card-title">
								<a class="link link-title" routerLink="/contest/{{contest.id}}">
									<span> {{contest.name}} </span>
								</a>
							</text>
							<p class="card-text time">
								<i class="fas fa-lock"></i>
								&nbsp;
								<i class="far fa-clock"></i>
								{{contest.start_time | date: 'HH:mm'}}
								-
								{{contest.end_time | date: 'HH:mm'}}
								<sup *ngIf="contest.days > 0">
									+{{contest.days}}
								</sup>
							</p>
						</div>
						<div class="col-auto status">
							<i class="fas fa-user-alt"></i> 23
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
<div class="row justify-content-center">
	<pagination-controls class="paginator"
		(pageChange)="getPage($event)"
		auotHide="true"
		previousLabel=""
		nextLabel="" >
	</pagination-controls>
</div>

