<div class="row justify-content-center">
  <div class="col-2">
    <select id="sourceSelect" #source class="form-select">
      <option *ngFor="let source of sources; let i = index" (value)="(i)">
        {{ source }}
      </option>
    </select>
  </div>
  <div class="col-4">
    <input
      id="problemSearch"
      #query
      type="text"
      class="form-control"
      placeholder="Search Problems"
      autocomplete="false"
    />
  </div>
  <div class="col-auto">
    <a class="btn col-auto" (click)="spide()">
      <fa-icon [icon]="['fas', 'spider']"></fa-icon>
    </a>
  </div>
</div>
