<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="#">
	</a>
	<div class="collapse navbar-collapse">
		<div class="navbar-nav mr-auto">
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="./public">
				<i class="fas fa-user-check"></i> Public
			</a>
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="./private">
				<i class="fas fa-user-lock"></i> Private
			</a>
			<a class="nav-item nav-link" routerLinkActive="active" routerLink="./create">
				<i class="fas fa-folder-plus"></i> Create
			</a>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>
