<div class="logo mb-3">
  <div class="col-md-12 text-center">
    <h1>{{ "auth.resetPassword" | translate }}</h1>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input
      type="password"
      [formControl]="f.password"
      class="form-control"
      [ngClass]="{
        'is-invalid': status == XStatus.Clicked && f.password.invalid
      }"
      placeholder="{{ 'auth.password' | translate }}"
      autocomplete="false"
    />
    <small
      *ngIf="
        (f.password.touched || status == XStatus.Clicked) && f.password.invalid
      "
      class="text-danger"
    >
      {{ f.password.errors.error }}
    </small>
    <small *ngIf="status == XStatus.Clicked && errors" class="text-danger">
      {{ errors[0] }}
    </small>
  </div>
  <br />
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      [formControl]="f.passwordConfirm"
      [ngClass]="{
        'is-invalid': status == XStatus.Clicked && f.passwordConfirm.invalid
      }"
      pattern="{{ f.password.value }}"
      placeholder="{{ 'auth.passwordConfirm' | translate }}"
      autocomplete="false"
    />
    <small
      *ngIf="
        (f.passwordConfirm.touched || status == XStatus.Clicked) &&
        f.passwordConfirm.invalid
      "
      class="text-danger"
    >
      <div *ngIf="f.passwordConfirm.errors.pattern">
        {{ "auth.passwordMismatch" | translate }}
      </div>
      <div *ngIf="!f.passwordConfirm.errors.pattern">
        {{ f.passwordConfirm.errors.error }}
      </div>
    </small>
    <small *ngIf="status == XStatus.Failed" class="text-danger">
      <div *ngIf="errors.password_confirmation">
        {{ errors.password_confirmation[0] }}
      </div>
    </small>
  </div>
  <br />
  <div class="d-grid gap-2 mb-3">
    <button [disabled]="status === XStatus.Sent" class="btn btn-success">
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      {{ "auth.resetPassword" | translate }}
    </button>
  </div>
</form>
