<div class="card-body">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label class="form-label">Current Password</label>
			<input type="password" class="form-control" [formControl]="passwordCurrent"
								   [ngClass]="{ 'is-invalid': submitted && passwordCurrent.errors }"
								    autocomplete="false"/>
		</div>
		<div class="form-group">
			<label class="form-label">New Password</label>
			<input type="password" class="form-control" [formControl]="password"
								   [ngClass]="{ 'is-invalid': submitted && password.errors }"
								    autocomplete="false"/>
			<div *ngIf="password.touched && password.errors" class="text-danger">
				<small>
					<div *ngIf="password.hasError('minlength')">
						Password is too short (minimum is 6 characters).
					</div>
					<div *ngIf="password.hasError('maxlength')">
						Password is too long (maximum is 16 characters).
					</div>
				</small>
			</div>
		</div>
		<div class="form-group">
			<label class="form-label">Confirm Password</label>
			<input type="password" class="form-control" [formControl]="passwordConfirmation"
								   [ngClass]="{ 'is-invalid': submitted && passwordConfirmation.errors }"
								   pattern="{{password.value}}" autocomplete="false"/>
			<div *ngIf="passwordConfirmation.touched && passwordConfirmation.errors" class="text-danger">
				<small>
					<div *ngIf="passwordConfirmation.errors.pattern">
						Password must match.
					</div>
				</small>
			</div>
		</div>
		<div class="text-right mt-3">
			<button [disabled]="loading" class="btn btn-primary">
				<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
				Save Changes
			</button>&nbsp;
		</div>
	</form>
</div>

