<div *ngIf="!loading">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="card-body media align-items-center">
			<div *ngIf="!photoPath">
				<img [src]="photoPath" class="d-block ui-w-80">
			</div>
			<div *ngIf="photoPath">
				<img [src]="photoPath" class="d-block ui-w-80">
			</div>
			<div class="media-body ml-4">
				<label class="btn btn-outline-primary">
					<i class="fas fa-folder-open"></i> Browse
					<input type="file" hidden ng2FileSelect [uploader]="photo"
							(change)="imagePreview($event)"/>
				</label>
				<div *ngIf="photo.queue[0] as item">
					<button type="button" class="btn btn-outline-success btn-xs" (click)="item.upload();"
							[disabled]="item.isReady || item.isUploading || item.isSuccess">
							<i class="fas fa-cloud-upload-alt"></i>
					</button>
				</div>
			</div>
		
		</div>
		<hr class="border-light m-0">
		<div class="card-body">
			<div class="form-group">
				<label class="form-label">User Name</label>
				<input type="text" class="form-control" [formControl]="name" autocomplete="false"
						 [ngClass]="{ 'is-invalid': (name.touched || submitted) && name.errors }"/>
				<div *ngIf="name.touched" class="text-danger">
					<small>
						<div *ngIf="name.hasError('minlength')">
							User name is too short (minimum is 5 characters).
						</div>
						<div *ngIf="name.hasError('maxlength')">
							User name is too long (maximum is 10 characters).
						</div>
						<div *ngIf="name.hasError('invalidName')">
							Must start with a letter and only
							contain [A-Za-z0-9_].
						</div>
					</small>
				</div>
				<div *ngIf="submitted" class="text-danger">
					<small>
						<div *ngIf="name_exists">
							User name has already been taken.
						</div>
					</small>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Real Name</label>
				<input type="text" class="form-control" [formControl]="real_name" autocomplete="false"/>
			</div>
			<div class="form-group">
				<label class="form-label">Email</label>
				<input type="email" class="form-control" [formControl]="email"
					[ngClass]="{ 'is-invalid': submitted && email.errors }" />
				<div *ngIf="email.touched && email.errors" class="text-danger">
					<small>
						<div *ngIf="email.hasError('invalidEmail')">
							Email is invalid.
						</div>
					</small>
				</div>
				<div *ngIf="submitted" class="text-danger">
					<small>
						<div *ngIf="email_exists">
							Email has already been taken.
						</div>
					</small>
				</div>
			</div>
			<div class="form-group">
				<label class="form-label">Github</label>
				<input type="text" class="form-control" [formControl]="github" autocomplete="false"/>
			</div>
			<div class="form-group">
				<label class="form-label">School</label>
				<input type="text" class="form-control" [formControl]="school" autocomplete="false"/>
			</div>
			<div class="form-group">
				<label class="form-label">Major</label>
				<input type="text" class="form-control" [formControl]="major" autocomplete="false"/>
			</div>
			<div class="text-right mt-3">
				<button [disabled]="loading" class="btn btn-primary">
					<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
					Save Changes
				</button>&nbsp;
			</div>
		</div>
	</form>
</div>
