<div class="card shadow-sm">
	<div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
					<th> # </th>
					<th> NAME </th>
					<th> STATUS </th>
					<th> PASS RATE </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let problem of problems">
					<td><a href="#">{{problem.id}}</a></td>
					<td>
						<span class="align-text-bottom">
						{{problem.name}}
						</span>
					</td>
					<td>Accept</td>
					<td>3/45</td>
					<td>
						<button type="button" class="btn btn-outline-danger"
								(click)="deleteProblem(problem.id)">
							<i class="far fa-trash-alt"></i>
						</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
<br/> <br/>

<div class="card shadow-sm">
	<div class="card-body">
		<app-problem-search
			(problemsEvent)="setAllProblems($event)" 
			(loadingEvent)="setLoading($event)" >
		</app-problem-search>
		<br/>
		<div *ngIf="loading" class="row">
			Loading...
		</div>
		<table *ngIf="!loading" class="table table-hover">
			<thead>
				<tr>
					<th> # </th>
					<th> NAME </th>
					<th> PASS RATE </th>
					<th> DIFFICULTY </th>
					<th> </th>
				</tr>
			</thead>
			<tbody>

				<tr *ngFor="let problem of allProblems | paginate:
						{itemsPerPage:20, currentPage:p, totalItems:total}">
					<td (click)="viewProblem(problem.source, problem.id)">
						{{problem.vid}}
					</td>
					<td>{{problem.name}}</td>
					<td>1/100</td>
					<td>Hard</td>
					<td>
						<button type="button" class="btn btn-outline-dark"
								(click)="addProblem(problem.id)"
							    [disabled]="isAdded(problem.id)">
								<i class="fas fa-plus"></i>
						</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
<br/>
<div class="row justify-content-center">
	<pagination-controls class="paginator"
		(pageChange)="getPage($event)"
		auotHide="true"
		previousLabel=""
		nextLabel="" >
	</pagination-controls>
</div>
