<div class="card shadow-sm">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>STATUS</th>
          <th>PASS RATE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let problem of problems">
          <td>
            <a href="#">{{ problem.id }}</a>
          </td>
          <td>
            <span class="align-text-bottom">
              {{ problem.name }}
            </span>
          </td>
          <td>Accept</td>
          <td>3/45</td>
          <td>
            <button
              type="button"
              class="btn btn-outline-danger"
              (click)="deleteProblem(problem.id)"
            >
              <fa-icon [icon]="['fas', 'trash-alt']"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="mt-5">
  <app-problems-show
    [which]="'contests'"
    (addToEvent)="addProblem($event)"
  ></app-problems-show>
</div>
