<div class="row mt-5">
  <div class="col-5">
    <div class="input-group">
      <div class="input-group-prepend col-3">
        <span class="input-group-text">Problem</span>
      </div>
      <select class="form-select" (change)="selectProblem($event.target.value)">
        <option *ngFor="let problem of problems; let i = index" [value]="i">
          {{ problem.name }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-5">
    <div class="input-group">
      <div class="input-group-prepend col-3">
        <span class="input-group-text">Language</span>
      </div>
      <select
        class="form-select"
        (change)="selectLanguage($event.target.value)"
      >
        <option *ngFor="let language of languages; let i = index" [value]="i">
          {{ language.value }}
        </option>
      </select>
      <div class="input-group-append ms-md-2">
        <button
          type="button"
          class="btn btn-info col-2 col-md-auto me-md-1"
          onclick="document.getElementById('loadcode').click();"
        >
          <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
        </button>
        <button
          type="button"
          class="btn btn-danger col-2 col-md-auto mr-2"
          (click)="clearCode()"
        >
          <fa-icon [icon]="['fas', 'broom']"></fa-icon>
        </button>
        <input
          type="file"
          id="loadcode"
          (change)="loadCode($event.target.files[0])"
          style="display: none"
        />
      </div>
    </div>
  </div>
  <div class="col-5 offset-2">
    <div class="input-group">
      <div class="input-group-prepend col-3">
        <span class="input-group-text">Theme</span>
      </div>
      <select
        class="form-select col-md-7 col-4"
        (change)="selectTheme($event.target.value)"
      >
        <option *ngFor="let theme of themes; let i = index" [value]="i">
          {{ theme }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-12">
    <ngx-codemirror [(ngModel)]="code" [options]="options"> </ngx-codemirror>
  </div>

  <div *ngIf="!has_code" class="alert alert-danger" role="alert">
    Please put your source code.
  </div>
</div>

<div class="row justify-content-center mt-4">
  <button type="button" (click)="submit()" class="btn btn-success col-2">
    <fa-icon [icon]="['fas', 'upload']"></fa-icon>
    Submit
  </button>
</div>
