<div class="row">
  <div class="col-md-3 nav flex-column nav-pills nav-pills-custom">
    <nav>
      <div
        class="nav flex-column nav-pills nav-pills-custom"
        ngbNav
        #navTabs="ngbNav"
      >
        <a [ngbNavItem]="1" ngbNavLink class="nav-link mb-3 p-3 shadow">
          <i class="fa fa-user-circle-o mr-2"></i>
          <span class="font-weight-bold small text-uppercase"> General </span>
          <ng-template ngbNavContent >
            <app-user-general-settings></app-user-general-settings>
          </ng-template>
        </a>
        <a [ngbNavItem]="2" ngbNavLink class="nav-link mb-3 p-3 shadow">
          <i class="fa fa-user-circle-o mr-2"></i>
          <span class="font-weight-bold small text-uppercase">Change Password</span>
          <ng-template ngbNavContent >
            <app-user-password-settings></app-user-password-settings>
          </ng-template>
        </a>
        <a [ngbNavItem]="3" ngbNavLink class="nav-link mb-3 p-3 shadow">
          <i class="fa fa-user-circle-o mr-2"></i>
          <span class="font-weight-bold small text-uppercase"> Connections </span>
          <ng-template ngbNavContent >
            <app-user-connections-settings></app-user-connections-settings>
          </ng-template>
        </a>
      </div>

    </nav>
  </div>
  <div class="col-md-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade shadow rounded bg-white show active p-5"
      >
        <div [ngbNavOutlet]="navTabs" class="mt-2"></div>
      </div>
    </div>
  </div>
</div>
