<div *ngIf="loading" class="row">Loading...</div>
<div *ngIf="!loading" class="row justify-content-center mt-5">
  <div class="col-5 card shadow-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card-body media align-items-center">
        <div class="d-grid gap-2 d-flex justify-content-center">
          <img
            [src]="photoPath"
            class="d-block ui-w-80"
            style="max-width: 100px; max-height: 100px"
          />
        </div>
        <div class="media-body mt-2">
          <div class="d-grid gap-2 d-flex justify-content-center">
            <label class="btn btn-outline-primary">
              <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
              <input
                type="file"
                hidden
                ng2FileSelect
                [uploader]="photo"
                (change)="imagePreview($event)"
              />
            </label>
            <div *ngIf="photo.queue[0] as item">
              <button
                type="button"
                class="btn btn-outline-success btn-xs"
                (click)="item.upload()"
                [disabled]="item.isReady || item.isUploading || item.isSuccess"
              >
                <fa-icon [icon]="['fas', 'cloud-upload-alt']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-light m-0" />
      <div class="card-body">
        <div class="form-group">
          <label class="form-label">User Name</label>
          <input
            type="text"
            class="form-control"
            [formControl]="f.name"
            autocomplete="false"
            [ngClass]="{
              'is-invalid':
                ((status === XStatus.Clicked || f.name.touched) &&
                  f.name.invalid) ||
                (status === XStatus.Failed && errors.name)
            }"
          />
          <small
            *ngIf="
              (f.name.touched || status === XStatus.Clicked) && f.name.invalid
            "
            class="text-danger"
          >
            {{ f.name.errors.error }}
          </small>
          <small *ngIf="status === XStatus.Failed" class="text-danger">
            <div *ngIf="errors.name">
              {{ "auth.username" | translate }} {{ errors.name[0] }}
            </div>
          </small>
        </div>
        <div class="form-group">
          <label class="form-label">Real Name</label>
          <input
            type="text"
            class="form-control"
            [formControl]="f.real_name"
            autocomplete="false"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Github</label>
          <input
            type="text"
            class="form-control"
            [formControl]="f.github"
            autocomplete="false"
          />
        </div>
        <div class="form-group">
          <label class="form-label">School</label>
          <input
            type="text"
            class="form-control"
            [formControl]="f.school"
            autocomplete="false"
          />
        </div>
        <div class="form-group">
          <label class="form-label">Major</label>
          <input
            type="text"
            class="form-control"
            [formControl]="f.major"
            autocomplete="false"
          />
        </div>
        <div class="text-right mt-3">
          <button [disabled]="status === XStatus.Sent" class="btn btn-success">
            <span
              *ngIf="status === XStatus.Sent"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Save Changes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
