<div class="logo mb-3">
  <div class="col-md-12 text-center">
    <h1>{{ 'keywords.register' | translate }}</h1>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <input
      id="name"
      type="text"
      class="form-control"
      autocomplete="name"
      [formControl]="f.name"
      [ngClass]="{
        'is-invalid':
          ((status === XStatus.Clicked || f.name.touched) && f.name.invalid) ||
          (status === XStatus.Failed && errors.name)
      }"
      placeholder="{{ 'auth.username' | translate }}"
    />
    <small
      *ngIf="(f.name.touched || status === XStatus.Clicked) && f.name.invalid"
      class="text-danger"
    >
      {{ f.name.errors.error }}
    </small>
    <small *ngIf="status === XStatus.Failed" class="text-danger">
      <div *ngIf="errors.name">
        {{ 'auth.username' | translate }} {{ errors.name[0] }}
      </div>
    </small>
  </div>
  <div class="form-group mb-3">
    <input
      id="email"
      type="email"
      autocomplete="email"
      class="form-control"
      [formControl]="f.email"
      [ngClass]="{
        'is-invalid':
          ((status === XStatus.Clicked || f.name.touched) && f.email.invalid) ||
          (status === XStatus.Failed && errors.email)
      }"
      placeholder="{{ 'auth.email' | translate }}"
    />
    <small
      *ngIf="(f.email.touched || status === XStatus.Clicked) && f.email.invalid"
      class="text-danger"
    >
      {{ f.email.errors.error }}
    </small>
    <small *ngIf="status === XStatus.Failed" class="text-danger">
      <div *ngIf="errors.email">
        {{ 'auth.email' | translate }} {{ errors.email[0] }}
      </div>
    </small>
  </div>
  <div class="form-group mb-3">
    <input
      id="password"
      type="password"
      class="form-control"
      [formControl]="f.password"
      [ngClass]="{
        'is-invalid':
          (status === XStatus.Clicked || f.password.touched) &&
          f.password.invalid
      }"
      placeholder="{{ 'auth.password' | translate }}"
      autocomplete="false"
    />
    <small
      *ngIf="
        (f.password.touched || status === XStatus.Clicked) && f.password.invalid
      "
      class="text-danger"
    >
      {{ f.password.errors.error }}
    </small>
  </div>
  <div class="form-group">
    <input
      id="passwordConfirm"
      type="password"
      class="form-control"
      [formControl]="f.passwordConfirm"
      [ngClass]="{
        'is-invalid':
          (status === XStatus.Clicked || f.passwordConfirm.touched) &&
          f.passwordConfirm.invalid
      }"
      pattern="{{ f.password.value }}"
      placeholder="{{ 'auth.passwordConfirm' | translate }}"
      autocomplete="false"
    />
    <small
      *ngIf="
        (f.passwordConfirm.touched || status === XStatus.Clicked) &&
        f.passwordConfirm.invalid
      "
      class="text-danger"
    >
      <div *ngIf="f.passwordConfirm.errors.pattern">
        {{ 'auth.passwordMismatch' | translate }}
      </div>
      <div *ngIf="!f.passwordConfirm.errors.pattern">
        {{ f.passwordConfirm.errors.error }}
      </div>
    </small>
  </div>
  <br />
  <div class="d-grid gap-2 mb-3">
    <button [disabled]="status === XStatus.Sent" class="btn btn-success">
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      {{ 'keywords.register' | translate }}
    </button>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <small>
        <p class="text-center">
          {{ 'auth.alreadyHaveAccount' | translate }}
          <a class="link-success" routerLink="/auth/login">
            {{ 'keywords.login' | translate }}
          </a>
        </p>
      </small>
    </div>
  </div>
</form>
