<div class="logo mb-3">
  <div class="col-md-12 text-center">
    <h1>{{ 'keywords.register' | translate }}</h1>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control"
      [formControl]="f.name"
      [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
      placeholder="{{ 'auth.username' | translate }}"
    />
    <div *ngIf="(f.name.touched || submitted) && f.name.errors" class="text-danger">
      <small>
        <div *ngIf="f.name.hasError('required')">
          {{ 'errors.required' | translate: { v1: 'auth.username' | translate } }}
        </div>
        <div *ngIf="!f.name.hasError('required') && f.name.hasError('minlength')">
          {{ 'errors.tooShort' | translate: { v1: 'auth.username' | translate, v2: envs.unameMinLen } }}
        </div>
        <div *ngIf="!f.name.hasError('required') && f.name.hasError('maxlength')">
          {{ 'errors.tooLong' | translate: { v1: 'keywords.username' | translate, v2: envs.unameMaxLen } }}
        </div>
      </small>
    </div>
    <div *ngIf="submitted" class="text-danger">
      <small>
        <div *ngIf="errors.name">
          {{errors.name[0]}}
        </div>
      </small>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="email"
      class="form-control"
      [formControl]="f.email"
      [ngClass]="{ 'is-invalid': submitted && errors.email }"
      placeholder="{{ 'auth.email' | translate }}"
    />
    <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="text-danger">
      <small>
        <div *ngIf="f.email.hasError('required')">
          {{ 'errors.required' | translate: { v1: 'auth.email' | translate } }}
        </div>
        <div *ngIf="!f.email.hasError('required') && f.email.hasError('invalidEmail')">
          {{ 'errors.invalid' | translate: { v1: 'auth.email' | translate } }}
        </div>
      </small>
    </div>
    <div *ngIf="submitted" class="text-danger">
      <small>
        <div *ngIf="errors.email">
          {{errors.email[0]}}
        </div>
      </small>
    </div>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      [formControl]="f.password"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      placeholder="{{ 'auth.password' | translate }}"
      autocomplete="false"
    />
    <div *ngIf="(f.password.touched || submitted) && f.password.errors" class="text-danger">
      <small>
        <div *ngIf="f.password.hasError('required')">
          {{ 'errors.required' | translate: { v1: 'auth.password' | translate } }}
        </div>
        <div *ngIf="f.password.hasError('minlength')">
          {{ 'errors.tooShort' | translate: { v1: 'auth.password' | translate, v2: envs.passwdMinLen } }}
        </div>
        <div *ngIf="f.password.hasError('maxlength')">
          {{ 'errors.tooLong' | translate: { v1: 'auth.password' | translate, v2: envs.passwdMaxLen } }}
        </div>
      </small>
    </div>
    <div *ngIf="submitted" class="text-danger">
      <small>
        <div *ngIf="errors.password">
          {{errors.password[0]}}
        </div>
      </small>
    </div>
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      [formControl]="f.passwordConfirm"
      [ngClass]="{ 'is-invalid': submitted && errors.passwordConfirm }"
      pattern="{{ f.password.value }}"
      placeholder="{{ 'auth.passwordConfirm' | translate }}"
      autocomplete="false"
    />
    <div *ngIf="(f.passwordConfirm.touched || submitted) && f.passwordConfirm.errors" class="text-danger">
      <small>
        <div *ngIf="f.passwordConfirm.hasError('required')">
          {{ 'errors.required' | translate: { v1: 'auth.passwordConfirm' | translate } }}
        </div>
        <div *ngIf="!f.passwordConfirm.hasError('required') && f.passwordConfirm.errors.pattern">
          {{ 'auth.passwordMismatch' | translate }}
        </div>
      </small>
    </div>
    <div *ngIf="submitted" class="text-danger">
      <small>
        <div *ngIf="errors.password_confirmation">
          {{ errors.password_confirmation[0] }}
        </div>
      </small>
    </div>
  </div>
  <br/>
  <div class="d-grid gap-2 mb-3">
    <button [disabled]="loading" class="btn btn-success">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      {{ 'keywords.register' | translate }}
    </button>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <small>
        <p class="text-center">{{ 'auth.alreadyHaveAccount' | translate }}
          <a class="link-success" routerLink="/auth/login">{{ 'keywords.login' | translate }}</a>
        </p>
      </small>
    </div>
  </div>
</form>
