<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mt-4">
    <div class="col-md-4">
      <label for="name" class="form-label"
        ><h5>{{ 'contests.name' | translate }}</h5></label
      >
      <input
        id="name"
        autocomplete="title"
        type="text"
        [formControl]="f.name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            f.name.invalid && (f.name.touched || status === XStatus.Clicked)
        }"
      />
      <small
        *ngIf="f.name.invalid && (f.name.touched || status === XStatus.Clicked)"
        class="text-danger"
      >
        {{ f.name.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h5>{{ 'contests.description' | translate }}</h5>
      <textarea
        id="description"
        style="overflow-y: auto; height: 30vh"
        class="form-control"
        [formControl]="f.description"
        [ngClass]="{
          'is-invalid':
            f.description.invalid &&
            (f.description.touched || status === XStatus.Clicked)
        }"
      >
      </textarea>
      <small
        *ngIf="
          f.description.invalid &&
          (f.description.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.description.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <label for="startDay" class="form-label"
        ><h5>{{ 'contests.startTime' | translate }}</h5></label
      >
      <input
        id="startDay"
        class="form-control"
        placeholder="yyyy-mm-dd"
        formControlName="start_d"
        ngbDatepicker
        #sd="ngbDatepicker"
        (click)="sd.toggle()"
        readonly
      />
    </div>
    <div class="col-md-3">
      <label class="form-label"><h5>&nbsp;</h5></label>
      <ngb-timepicker id="startTime" formControlName="start_t">
      </ngb-timepicker>
      <small
        *ngIf="
          f.start_t.invalid && (status === XStatus.Clicked || f.start_t.touched)
        "
        class="text-danger"
      >
        {{ f.start_t.errors.error }}
      </small>
    </div>
    <div class="col-md-3">
      <label for="endDay" class="form-label"
        ><h5>{{ 'contests.endTime' | translate }}</h5></label
      >
      <input
        id="endDay"
        class="form-control"
        placeholder="yyyy-mm-dd"
        formControlName="end_d"
        ngbDatepicker
        #ed="ngbDatepicker"
        (click)="ed.toggle()"
        readonly
        [ngClass]="{
          'is-invalid': status === XStatus.Clicked && errors
        }"
      />
      <small *ngIf="status === XStatus.Clicked && errors" class="text-danger">
        {{ errors | translate }}
      </small>
    </div>
    <div class="col-md-3">
      <label class="form-label"><h5>&nbsp;</h5></label>
      <ngb-timepicker id="endTime" formControlName="end_t"> </ngb-timepicker>
      <small
        *ngIf="
          f.end_t.invalid && (status === XStatus.Clicked || f.end_t.touched)
        "
        class="text-danger"
      >
        {{ f.end_t.errors.error }}
      </small>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <span for="ruleSelect" class="form-label"
        ><h5>{{ 'contests.rule' | translate }}</h5></span
      >
      <div class="col-6">
        <select class="form-select" id="ruleSelect" [formControl]="f.ruleType">
          <option *ngFor="let ruleType of ruleTypes" [value]="ruleType">
            {{ ruleType }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <span for="isVisible" class="form-label"
        ><h5>{{ 'contests.isVisible' | translate }}</h5></span
      >
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="isVisible"
          [formControl]="f.isVisible"
        />
        <label class="form-check-lable" for="visible">NO / YES</label>
      </div>
    </div>
    <div class="col-md-5">
      <span for="password" class="form-label"
        ><h5>{{ 'contests.password' | translate }}</h5></span
      >
      <input
        id="password"
        type="password"
        [formControl]="f.password"
        class="form-control"
        autocomplete="false"
        [ngClass]="{
          'is-invalid':
            f.password.invalid &&
            (f.password.touched || status === XStatus.Clicked)
        }"
      />
      <small
        *ngIf="
          f.password.invalid &&
          (f.password.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.password.errors.error }}
      </small>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-2">
    <button
      [disabled]="status === XStatus.Sent"
      class="btn btn-success col-sm-4"
    >
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      <fa-icon [icon]="['fas', 'upload']"></fa-icon>
      {{ 'contests.submit' | translate }}
    </button>
  </div>
</form>
