<div *ngIf="loading">
  <!-- <app-loading></app-loading> -->
</div>
<div *ngIf="!loading" class="row">
  <div class="col-9">
    <div class="card">
      <div class="card-header">{{ 'keywords.announcements' | translate }}</div>
      <div class="card-body"></div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        {{ 'keywords.recentContests' | translate }}
      </div>
      <div class="card-body">
        <app-home-calendar></app-home-calendar>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card mb-4">
      <div class="card-header">
        {{ 'keywords.overview' | translate }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
              {{ 'keywords.contests' | translate }}
            </div>
            <div class="col-4 d-flex justify-content-center">
              {{ data?.total_contests }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
              {{ 'keywords.problems' | translate }}
            </div>
            <div class="col-4 d-flex justify-content-center">
              {{ data?.total_problems }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
              {{ 'keywords.users' | translate }}
            </div>
            <div class="col-4 d-flex justify-content-center">
              {{ data?.total_users }}
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-8">
              {{ 'keywords.groups' | translate }}
            </div>
            <div class="col-4 d-flex justify-content-center">
              {{ data?.total_groups }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        {{ 'keywords.rank' | translate }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let user of data?.top_users">
          <div class="row">
            <div class="col-8">{{ user.name }}</div>
            <div class="col-4 d-flex justify-content-center">
              {{ user.score }}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="card mt-4 shadow-sm">
      <div class="card-header">
        {{ 'keywords.recentProblems' | translate }}
      </div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let problem of data?.recent_problems"
        >
          <a class="link link-content" routerLink="/problem/l/{{ problem.id }}">
            {{ problem.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
