<div class="card shadow-sm">
  <div class="card-body">
    <app-search (searchEvent)="getProblems($event)"> </app-search>
    <br />
    <div *ngIf="loading" class="row">Loading...</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">TITLE</th>
          <th scope="col">STATUS</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr
          class="align-middle"
          *ngFor="
            let problem of problems
              | paginate
                : { itemsPerPage: 20, currentPage: p, totalItems: total }
          "
        >
          <th scope="row">{{ problem.id }}</th>
          <td class="col">
            <a
              class="link link-content"
              routerLink="/problem/l/{{ problem.id }}"
            >
              &nbsp;{{ problem.name }}
            </a>
          </td>
          <td class="col">
            &nbsp;{{ problem.accepts }}/{{ problem.submissions }}
          </td>
          <td class="col d-grid gap-2 d-flex">
            <button
              type="button"
              class="btn btn-outline-info"
              routerLink="../update/{{ problem.id }}"
              ngbTooltip="Edit"
            >
              <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="shareProblem(problem.id)"
              ngbTooltip="Make it pubilc"
            >
              <fa-icon [icon]="['fas', 'share-from-square']"></fa-icon>
            </button>
            <app-hold-button
              (holdEvent)="deleteProblem(problem.id)"
              ngbTooltip="Hold to delete"
            ></app-hold-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<div class="row justify-content-center">
  <pagination-controls
    class="paginator"
    (pageChange)="getProblems({ page: $event })"
    auotHide="true"
    previousLabel=""
    nextLabel=""
  >
  </pagination-controls>
</div>
