<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mt-4">
    <div class="col-md-4">
      <label class="form-label"><h5>Title</h5></label>
      <input
        type="text"
        [formControl]="f.name"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            f.name.invalid && (f.name.touched || status === XStatus.Clicked)
        }"
      />
      <small
        *ngIf="f.name.invalid && (f.name.touched || status === XStatus.Clicked)"
        class="text-danger"
      >
        {{ f.name.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h5>Description</h5>
      <textarea
        style="overflow-y: auto; height: 30vh"
        class="form-control"
        [formControl]="f.description"
        [ngClass]="{
          'is-invalid':
            f.description.invalid &&
            (f.description.touched || status === XStatus.Clicked)
        }"
      >
      </textarea>
      <small
        *ngIf="
          f.description.invalid &&
          (f.description.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.description.errors.error }}
      </small>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-3">
      <label class="form-label"><h5>Start Time</h5></label>
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        formControlName="start_d"
        ngbDatepicker
        #sd="ngbDatepicker"
        (click)="sd.toggle()"
        readonly
        [ngClass]="{
          'is-invalid': f.start_d.invalid && status === XStatus.Clicked
        }"
      />
      <small
        *ngIf="f.start_d.invalid && status === XStatus.Clicked"
        class="text-danger"
      >
        {{ f.start_d.errors.error }}
      </small>
    </div>
    <div class="col-md-3">
      <label class="form-label"><h5>&nbsp;</h5></label>
      <ngb-timepicker
        formControlName="start_t"
        [ngClass]="{
          'is-invalid':
            f.start_t.invalid &&
            (status === XStatus.Clicked || f.start_t.touched)
        }"
      >
      </ngb-timepicker>
      <small
        *ngIf="
          f.start_t.invalid && (status === XStatus.Clicked || f.start_t.touched)
        "
        class="text-danger"
      >
        {{ f.start_t.errors.error }}
      </small>
    </div>
    <div class="col-md-3">
      <label class="form-label"><h5>End Time</h5></label>
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        formControlName="end_d"
        ngbDatepicker
        #ed="ngbDatepicker"
        (click)="ed.toggle()"
        readonly
        [ngClass]="{
          'is-invalid': f.end_d.invalid && status === XStatus.Clicked
        }"
      />
      <small
        *ngIf="f.end_d.invalid && status === XStatus.Clicked"
        class="text-danger"
      >
        {{ f.end_d.errors.error }}
      </small>
    </div>
    <div class="col-md-3">
      <label class="form-label"><h5>&nbsp;</h5></label>
      <ngb-timepicker
        formControlName="end_t"
        [ngClass]="{
          'is-invalid':
            f.end_t.invalid && (status === XStatus.Clicked || f.end_t.touched)
        }"
      >
      </ngb-timepicker>
      <small
        *ngIf="
          f.end_t.invalid && (status === XStatus.Clicked || f.end_t.touched)
        "
        class="text-danger"
      >
        {{ f.end_t.errors.error }}
      </small>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <span class="form-label"><h5>Rule</h5></span>
      <label class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="rule_type"
          value="acm"
          checked
          (click)="selectRule($event.target.value)"
        />
        <span class="form-check-label">ACM</span>
      </label>
      <label class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="rule_type"
          value="oi"
          (click)="selectRule($event.target.value)"
        />
        <span class="form-check-label">OI</span>
      </label>
    </div>
    <div class="col-md-3">
      <span class="form-label"><h5>Visible</h5></span>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="visible"
          (click)="selectVisible($event.target.checked)"
        />
        <label class="form-check-lable" for="visible">NO / YES</label>
      </div>
    </div>
    <div class="col-md-5">
      <span class="form-label"><h5>Password</h5></span>
      <input
        type="password"
        [formControl]="f.password"
        class="form-control"
        autocomplete="false"
        [ngClass]="{
          'is-invalid':
            f.password.invalid &&
            (f.password.touched || status === XStatus.Clicked)
        }"
      />
      <small
        *ngIf="
          f.password.invalid &&
          (f.password.touched || status === XStatus.Clicked)
        "
        class="text-danger"
      >
        {{ f.password.errors.error }}
      </small>
    </div>
  </div>
  <div class="row justify-content-center mt-5 mb-2">
    <button
      [disabled]="status === XStatus.Sent"
      class="btn btn-success col-sm-4"
    >
      <span
        *ngIf="status === XStatus.Sent"
        class="spinner-border spinner-border-sm mr-1"
      ></span>
      <fa-icon [icon]="['fas', 'upload']"></fa-icon> Submit
    </button>
  </div>
</form>
