<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
	<div class="row">
		<div class="col-md-4">
			<label class="form-label"><h5>Title</h5></label>
			<div *ngIf="title.hasError('required') && title.touched"
				   class="alert alert-danger" role="alert">
				Title is required.
			</div>
			<input type="text" [formControl]="title" class="form-control"/>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<h5>Description</h5>
			<div *ngIf="description.hasError('required') && description.touched"
			 class="alert alert-danger" role="alert">
				Description is required.
			</div>
			<textarea style="overflow-y:auto; height: 30vh" class="form-control"
				[formControl]="description">
			</textarea>
		</div>
	</div>
	<br/>

	<br/> <br/> <br/>
	<div class="row justify-content-center">
		<button type="submit" class="btn btn-info col-sm-4">
			<i class="fas fa-upload"></i> Submit
		</button>
	</div>
</form>
<br/>


