<div class="card shadow-sm">
  <div class="card-body">
    <app-search (searchEvent)="getProblemSets($event)"> </app-search>
    <br />
    <div *ngIf="loading" class="row">Loading...</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">TITLE</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="!loading">
        <tr
          class="align-middle"
          *ngFor="
            let problemSet of problemSets
              | paginate
                : { itemsPerPage: 20, currentPage: p, totalItems: total }
          "
        >
          <th scope="row">
            <a
              class="link link-content"
              routerLink="../../problem-set/{{ problemSet.id }}"
            >
              {{ problemSet.name }}
            </a>
          </th>
          <td class="col">{{ problemSet.description }}</td>
          <td class="col">{{ problemSet.creater }}</td>
          <td
            *ngIf="user.name != problemSet.creater && user.role != 'admin'"
          ></td>
          <td
            *ngIf="user.name == problemSet.creater || user.role == 'admin'"
            class="col d-grid gap-2 d-flex"
          >
            <button
              type="button"
              class="btn btn-outline-info"
              routerLink="../update/{{ problemSet.id }}"
              ngbTooltip="Edit"
            >
              <fa-icon [icon]="['fas', 'pen-to-square']"></fa-icon>
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="shareProblemSet(problemSet.id)"
              ngbTooltip="Make it pubilc"
            >
              <fa-icon [icon]="['fas', 'share-from-square']"></fa-icon>
            </button>
            <app-hold-button
              (holdEvent)="deleteProblemSet(problemSet.id)"
              ngbTooltip="Hold to delete"
            ></app-hold-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br />
<div class="row justify-content-center">
  <pagination-controls
    class="paginator"
    (pageChange)="getProblemSets($event)"
    auotHide="true"
    previousLabel=""
    nextLabel=""
  >
  </pagination-controls>
</div>
