<div *ngIf="!loading" class="row">
	<div class="col-4">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mt-3">
					<div class="col-5">
						<h6>Github</h6>
					</div>
					<div class="col-7 text-secondary">
						Root
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>Codeforces</h6>
					</div>
					<div class="col-7 text-secondary">
						codeforces
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>Atcoder</h6>
					</div>
					<div class="col-7 text-secondary">
						atcoder
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>TopCoder</h6>
					</div>
					<div class="col-7 text-secondary">
						topcoder
					</div>
				</div>
				<hr/>
			</div>
		</div>
	</div>
	<div class="col-8">
		<div class="card shadow-sm">
			<div class="card-body">
				<div class="row mt-3">
					<div class="col-5">
						<h6>User Name</h6>
					</div>
					<div class="col-7 text-secondary">
						{{data.user.name}}
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>Real Name</h6>
					</div>
					<div class="col-7 text-secondary">
						{{data.user.real_name}}
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>School</h6>
					</div>
					<div class="col-7 text-secondary">
						{{data.school}}
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>Major</h6>
					</div>
					<div class="col-7 text-secondary">
						{{data.user.major}}
					</div>
				</div>
				<hr/>
				<div class="row mt-4">
					<div class="col-5">
						<h6>Email</h6>
					</div>
					<div class="col-7 text-secondary">
						{{data.user.email}}
					</div>
				</div>
				<hr/>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!loading" class="row mt-5">
	<div class="col-xl-6 col-12 mb-3">
		<div class="card shadow-sm">
			<div class="card-content">
				<div class="card-body">
					<div class="media d-flex">
						<div class="media-body text-left">
							<h3 class="text-color">{{data.total_contests}}</h3>
							<span class="small-text-color">Contests</span>
						</div>
						<div class="align-self-center">
							<i class="fas fa-trophy fa-2x icon-color"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-12 mb-3">
		<div class="card shadow-sm">
			<div class="card-content">
				<div class="card-body">
					<div class="media d-flex">
						<div class="media-body text-left">
							<h3 class="text-color">{{data.total_problems}}</h3>
							<span class="small-text-color">Problems</span>
						</div>
						<div class="align-self-center">
							<i class="fas fa-book fa-2x icon-color"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-12 mb-3">
		<div class="card shadow-sm">
			<div class="card-content">
				<div class="card-body">
					<div class="media d-flex">
						<div class="media-body text-left">
							<h3 class="text-color">{{data.total_groups}}</h3>
							<span class="small-text-color">Groups</span>
						</div>
						<div class="align-self-center">
							<i class="fas fa-users fa-2x icon-color"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-6 col-12 mb-3">
		<div class="card shadow-sm">
			<div class="card-content">
				<div class="card-body">
					<div class="media d-flex">
						<div class="media-body text-left">
							<h3 class="text-color">{{data.total_followers}}/{{data.total_following}}</h3>
							<span class="small-text-color">Followers/Folllowing</span>
						</div>
						<div class="align-self-center">
							<i class="fas fa-user-friends fa-2x icon-color"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
