<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"> </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav mr-auto">
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./description"
      >
        <fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Description
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./problems"
      >
        <fa-icon [icon]="['fas', 'tasks']"></fa-icon> Problems
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./submit"
      >
        <fa-icon [icon]="['fas', 'upload']"></fa-icon> Submit
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./my-submissions"
      >
        <fa-icon [icon]="['fas', 'list']"></fa-icon> My Submissions
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./submissions"
      >
        <fa-icon [icon]="['fas', 'list-ul']"></fa-icon> Submissions
      </a>
      <a
        class="nav-item nav-link"
        routerLinkActive="active"
        routerLink="./ranks"
      >
        <fa-icon [icon]="['fas', 'chart-bar']"></fa-icon> Ranks
      </a>
    </div>
  </div>
</nav>
<div class="progress mb-3">
  <div
    class="progress-bar {{ color }}"
    [ngStyle]="{ width: progress + '%' }"
  ></div>
</div>
<router-outlet></router-outlet>
